@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";
@import "grid";
@import "datepicker";
@import "home";
@import "results";


body {
  font-family: 'Roboto', sans-serif;
  background:#0f0449;
}

header {
  padding: 17px 0;
  overflow: auto;

  .logo {
    display: inline-block;
    float: left;
    color: #fff
  }

  .menu {
    display: inline-block;
    float: right;
    color: #fff;

      a {
        
      }
  }
}

.main-btn {

  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #304ffe;
  border-radius: 3px;
  transition: all .3s ease-in-out;
        
    &:hover {
      background: yellow;
    }

    &.active {
      background: yellow;
    }

}




