@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";
@import "grid";
@import "datepicker";
@import "home";
@import "results";


body {
  font-family: 'Roboto', sans-serif;
  background:#0f0449;
}

header {
  padding: 17px 0;
  overflow: auto;
  letter-spacing: 1.5px;

  .logo {
    display: inline-block;
    float: left;
    color: #fff
  }

  .menu {
    display: inline-block;
    float: right;
    color: #fff;

      a {
        
      }
  }
}

.main-btn {

  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 1.5px;
  padding: 10px 20px;
  border: 3px solid #fff;
  border-radius: 30px;
  transition: all .3s ease-in-out;
        
  &:hover {
    transform: translateY(3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
    background: #000;
    
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 5px 12px rgba(0,0,0,.2);
    background: #000;
    outline: 0 !important
  }

}




